/* based on "a modern CSS reset" by Josh Comeau
https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  --ff-serif: 'Hanuman', serif;
  --ff-sans: 'Lato', sans-serif;
  --ff-display: ;

  /* small screen font-sizes */
  --fs-100: 0.75rem;
  --fs-200: 1rem;
  --fs-300: 1.25rem;
  --fs-400: 1.375rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 2.125rem;
  --fs-900: 7rem;
  
  --br: .5rem;
  --spacer: .5rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
}

:root {
  --clr-background: #3D2D4D;
  --clr-heading: #A5C3FF;
  --clr-text: #a5c3ff;
  --clr-accent-100: #E9DD6B;
  --clr-accent-200: #9F7BD7;
  --clr-accent-300: #292929;
  --clr-accent-400: ;
  --clr-form-field: #F8F7F2;
  --clr-card:#D1C1EC;
}

@media (min-width: 40em) {
:root {
  --fs-100: 0.75rem;
  --fs-200: 1rem;
  --fs-300: 1.375rem;
  --fs-400: 1.75rem;
  --fs-500: 2.125rem;
  --fs-600: 2.75rem;
  --fs-700: 5rem;
  --fs-900: 8rem;

  --spacer: 1rem;
}
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
9. Remove all default list styling
*/
ul,
ol,
ul[class], 
ol[class] {
  list-style: none;
  padding: 0;
}

/* begin custom styles */

body {
  font-family: var(--ff-sans);
  color: var(--clr-text);
  background-color: var(--clr-background);
  padding: var(--spacer);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  outline: 1px dotted red;
  margin: var(--spacer) 0;
  border-radius: var(--br);
  padding: var(--spacer);
  width: 100%;
  max-width: 20em;
}

input {
  font: inherit;
  background-color: var(--clr-form-field);
  border-radius: calc(var(--br) / 2);
  margin: calc(var(--spacer) / 2);
}

.greet {
  align-self: flex-start;
  text-align: left;
}

.add_activity {
  text-align: right;
}

.activity_list {
  align-items: right;
  text-align: right;
}

#categoryList li {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: .5rem;
  text-align: left;
}

.category_name {
  text-align: left;
}

.category_colon {
  text-align: center;
}

.category_count {
  text-align: left;
}

.btn {
  cursor: pointer;
  margin: .25rem;
  border: none;
  border-radius: var(--br);
  font-weight: var(--fw-700);
  color: var(--clr-background);
  background-color: var(--clr-accent-200);
}
